* {
    box-sizing: border-box;
}

.block {
    background-color: black;
    width: 61%;
    margin: 139px auto auto;
    padding-left: 215px;
    padding-right: 214px;
    padding-top: 69px;
    padding-bottom: 125px;
    word-spacing: 75.75px;

}

span {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.E {
    color: rgba(163, 72, 72, 0.60);

}

.H {
    color: rgba(113, 170, 115, 0.70);

}

.L {
    color: #475587;

}

.O {
    color: rgba(178, 159, 109, 0.50);

}

.W {
    color: rgba(170, 144, 113, 0.40);
}

.R {
    color: #874775;
}

.L1 {
    color: #8D4B63;
}

.D {
    color: rgba(109, 178, 162, 0.60);
}

.block1 {
    background-color: #D9D9D9;
    width: 50%;
    margin: 7% auto;
    padding-left: 104px;
    padding-right: 75px;
    padding-top: 47px;
    padding-bottom: 47px;
    color: #4F4F4F;
    text-align: justify;
    text-shadow: 7px 7px 1px rgba(41, 36, 9, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;


}
